.bn-container[data-background-theming-css] .bn-editor {
    position: absolute;
    background-color: #f4f4f4;
    color: black;
    left: 2rem;
    width: 50rem;
    height: 52rem;
}

@media (max-width: 430px) {
    .bn-container[data-background-theming-css] .bn-editor{
        width: 26.7rem;
        height: 52.3rem;
    }
}