.signIn {
  position: absolute;
  top: 25.5rem;
  background-color: #474343;
  left: 28rem;
  color: #ffffff;
  font-family: Inter;
  font-weight: bold;
  font-size: 1.2rem;
  width: 12rem;
  height: 4rem;
  border-radius: 0.2rem;
  box-shadow: 6px 6px rgba(71, 67, 67, 0.44);
  transition: box-shadow 0.3s ease-in-out;
}

.signIn:hover {
  cursor: pointer;
  box-shadow: 13px 13px rgba(71, 67, 67, 0.44);
}

.title {
  position: absolute;
  left: 25rem;
  top: 5rem;
  font-size: 4rem;
  font-weight: bold;
  color: #433d3d;
  font-family: Inter;
  width: 25rem;
}

.computerGirl {
  position: absolute;
  left: 60rem;
}

.takeNotes {
  position: absolute;
  font-family: Inter;
  font-size: 1.3rem;
  font-weight: 400;
  color: rgba(64, 63, 63, 0.74);
  left: 42rem;
  top: 26rem;
  width: 18rem;
}

.darkgraypolygon {
  position: absolute;
  left: 5rem;
  top: 10rem;
  animation: poly 0.3s linear;
}

.lightgraypolygon {
  position: absolute;
  left: 96rem;
  top: 30rem;
  animation: darkpoly 0.2s linear;
}

.softgraypolygon {
  position: absolute;
  top: 40rem;
  left: 5rem;
  animation: poly 0.3s linear;
}

.noteTakingVideo {
  position: absolute;
  left: 28rem;
  top: 35rem;
  border-radius: 1rem;
  width: 60rem;
  border: 3px solid black;
}

/* note logo */

.logo {
  position: absolute;
  display: flex;
  flex-direction: row;
  left: 15rem;
  top: 1.5rem;
}

.NoteLogo {
  width: 3rem;
}

.LogoTitle {
  position: relative;
  font-family: Inter;
  color: #433d3d;
  font-weight: 700;
  top: 0.75rem;
  font-size: 1.5rem;
}

/*copy rights logo*/

.copyRights {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-family: Inter;
  font-size: 0.9rem;
  color: #433d3d;
  font-weight: 460;
  top: 75rem;
  left: 55rem;
  height: 3rem;
}

.Ccorporation {
  position: relative;
  top: 0.2rem;
  width: 0.7rem;
  height: 0.7rem;
}

@keyframes poly {
  from {
    left: -10px;
    transform: rotate(180deg)
  }
}

@keyframes darkpoly {
  from{
    right: 100rem;
    transform: rotate(180deg);
  }
  }