.search{
    display: flex;
    position: absolute;
    top: 8rem;
    left: 1rem;
    gap: 1rem;
    padding: .5rem;
    width: 13rem;
    transition: background-color .1s linear;
    }
    
    .search:hover{
        cursor: pointer;
        background-color: #f7f8f9;
    }
    
    .blueBack{
        display: flex;
        position: absolute;
        top: 8rem;
        left: 1rem;
        gap: 1rem;
        padding: .5rem;
        width: 13rem;
        background-color: rgb(229, 229, 239); 
        transition: background-color .2s linear;
    }
    
