/* 
.hover-icon-container {
    position: relative;
    padding-left: 24px;
}; 

.hover-icon {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: none;
}; 

.hover-icon-container:hover .hover-icon{
    display: inline;
} */