/* *{
    border: 1px solid blue;
} */

.upload {
  width: 6rem;
  height: 3rem;
  border-radius: 0.5rem;
  border: 0.1rem solid rgb(201, 198, 198);
  color: rgb(117, 111, 111);
  cursor: pointer;
  animation: images 1s;
}

.upload:hover {
  background-color: rgba(221, 221, 221, 0.577);
}

.images {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: 2.5rem;
  gap: 1rem;
  left: 78rem;
  transition: transform 0.4s ease-in-out;
}

.imagetitle {
  position: absolute;
  top: 2rem;
  left: 32rem;
  font-size: 34;
}

/* .images2{
    position: absolute;
    display: flex;
    flex-direction: row;
    top: 2.5rem;
    gap: 1rem;
    left: 78rem;
    transition: transform 0.4s ease-in-out; 
    display: none; 
} */

.outwinter {
  position: relative;
  width: 3rem;
  height: 3rem;
  /* top: 2.8rem;
    left: 6rem; */
  border-radius: 0.5rem;
  object-fit: cover;
  cursor: pointer;
}

.triku {
  position: relative;
  width: 3rem;
  height: 3rem;
  /* top: 2.8rem;
    left: 6rem; */
  border-radius: 0.5rem;
  object-fit: cover;
  cursor: pointer;
}

.azy {
  position: relative;
  width: 3rem;
  height: 3rem;
  /* top: 2.8rem;
    left: 6rem; */
  border-radius: 0.5rem;
  object-fit: cover;
  cursor: pointer;
}

.darkimage {
  position: relative;
  width: 3rem;
  height: 3rem;
  /* top: 2.8rem;
    left: 6rem; */
  border-radius: 0.5rem;
  object-fit: cover;
  cursor: pointer;
  /* opacity: 0; */
  /* transition: opacity 2s ease-in-out; */
  animation: images 1s;
}

.sleepydog {
  position: relative;
  width: 3rem;
  height: 3rem;
  /* top: 2.8rem;
   left: 2rem; */
  border-radius: 0.5rem;
  object-fit: cover;
  cursor: pointer;
}

@keyframes images {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
