/* *{
    border: 1px solid red;
} */

.imageContainer {
  position: absolute;
  background-color: #f4f4f4;
  width: 40rem;
  height: 58rem;
  left: 76rem;
  border-radius: 1rem;
  top: 0.5rem;
  overflow: hidden;
}

.linkIcon1:hover {
  opacity: 1;
}

.linkIcon1 {
  position: absolute;
  left: 112rem;
  top: 2rem;
  opacity: 0.8;
  width: 2rem;
  border-radius: 2rem;
  padding: 0.3rem;
  background-color: #c6c6c5;
  transform: rotate(180deg);
  transition: background-color 0.3s ease, top 0.2s ease, transform 0.3s ease,
    opacity 0.3s ease;
  cursor: pointer;
  z-index: 999;
  animation: linkicon1 .2s;
}

.cozyImage{
  animation: appear 1s ;
}

.translate{
  animation: translateLeft 1s;
}

@keyframes appear{
  from {opacity: 0; 
  } 
  to {opacity: 1; 
  }
}

@keyframes translateLeft {
  from {opacity: .3; 
    transform: translateX(3rem);
  } 
  to {opacity: 1; 
    transform: translateX(0rem);
  }
}

@keyframes linkicon1{
  from {opacity: .3} 
  to {opacity: .8}
}